Repository 2389-research/journal-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: oxlint, biome-format

oxlint:
  name: oxlint
  entry: npx oxlint
  language: system
  pass_filenames: true

biome-format:
  name: biome format
  entry: npx biome format --write
  language: system
  pass_filenames: true

Fix linting warnings for CI compatibility
  tests/embedding-failures.test.ts
  tests/journal.test.ts
  tests/mcp-resources-prompts.test.ts
  tests/test-utils.ts
  tests/utils/TestHarness.ts
Due: oxlint, biome-format

chore: bump version to 1.3.0
  package.json
  src/server.ts
Due: oxlint, biome-format

Update .gitignore to exclude new files! 🎉🙌
  .gitignore
Due: none

test: implement comprehensive missing test cases
  missing-tests.md
  tests/simple-coverage-gaps.test.ts
Due: oxlint, biome-format

fix: format and finalize coverage badge setup
  .github/workflows/coverage.yml
  .gitignore
  COVERAGE_BADGE_OPTIONS.md
  README.md
  jest.config.js
  package.json
Due: oxlint, biome-format

feat: add comprehensive MCP server testing with mcp-probe
  .github/workflows/mcp-test.yml
Due: none

feat: convert project to ES modules for MCP SDK compatibility
  jest.config.js
  package.json
  src/index.ts
  src/journal.ts
  src/search.ts
  src/server.ts
  tsconfig.json
Due: oxlint, biome-format

Fix MCP SDK version compatibility issue
  package-lock.json
  src/server.ts
Due: oxlint, biome-format

Upgrade to MCP SDK 0.5.0 with proper API usage
  package-lock.json
  package.json
  src/server.ts
Due: oxlint, biome-format

Fix Biome binary permissions in CI
  .github/workflows/ci.yml
Due: none

Fix Biome command syntax for modern versions
  .github/workflows/ci.yml
  package.json
  tests/read-journal-entry-mcp.test.ts
  tests/simple-coverage-gaps.test.ts
Due: oxlint, biome-format

Remove redundant build step from CI that was causing hangs
  .github/workflows/ci.yml
Due: none

Align pre-commit hooks with CI workflow for consistency
  .pre-commit-config.yaml
Due: none

Remove console usage throughout codebase for Node 22 compatibility
  src/embeddings.ts
  src/index.ts
  src/journal.ts
  src/remote.ts
  src/search.ts
  src/server.ts
  tests/read-journal-entry-mcp.test.ts
  tests/remote-entry-by-id.test.ts
  tests/remote.test.ts
  tests/simple-coverage-gaps.test.ts
Due: oxlint, biome-format

bump: increment version to 1.4.0
  biome.json
  package.json
Due: biome-format

feat: update MCP probe workflow for journal-mcp project
  .github/workflows/mcp-probe-tests.yml
Due: none

docs: add star CTA, attribution footer
  README.md
Due: none

fix: rename plugin name to journal in plugin.json
  .claude-plugin/plugin.json
  biome.json
Due: biome-format

fix: remove committed private journal data and add .private-journal/ to .gitignore
  .gitignore
  .private-journal/2025-05-27/20-16-46-544103.embedding
  .private-journal/2025-05-27/20-16-46-544103.md
  .private-journal/2025-05-27/20-17-18-901887.embedding
  .private-journal/2025-05-27/20-17-18-901887.md
  .private-journal/2025-06-10/11-33-41-704163.embedding
  .private-journal/2025-06-10/11-33-41-704163.md
  .private-journal/2025-06-10/11-43-46-993109.embedding
  .private-journal/2025-06-10/11-43-46-993109.md
  .private-journal/2025-06-10/12-17-48-323229.embedding
  .private-journal/2025-06-10/12-17-48-323229.md
  .private-journal/2025-06-10/12-24-59-823940.embedding
  .private-journal/2025-06-10/12-24-59-823940.md
  .private-journal/2025-06-10/13-09-04-528741.embedding
  .private-journal/2025-06-10/13-09-04-528741.md
  .private-journal/2025-06-12/11-26-31-563143.embedding
  .private-journal/2025-06-12/11-26-31-563143.md
Due: none

fix: commit dist/ and remove dist/ from .gitignore
  .gitignore
  dist/embeddings.d.ts
  dist/embeddings.d.ts.map
  dist/embeddings.js
  dist/embeddings.js.map
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/journal.d.ts
  dist/journal.d.ts.map
  dist/journal.js
  dist/journal.js.map
  dist/paths.d.ts
  dist/paths.d.ts.map
  dist/paths.js
  dist/paths.js.map
  dist/remote.d.ts
  dist/remote.d.ts.map
  dist/remote.js
  dist/remote.js.map
  dist/search.d.ts
  dist/search.d.ts.map
  dist/search.js
  dist/search.js.map
  dist/server.d.ts
  dist/server.d.ts.map
  dist/server.js
  dist/server.js.map
  dist/types.d.ts
  dist/types.d.ts.map
  dist/types.js
  dist/types.js.map
Due: none

ci: add dist freshness guard to CI workflow
  .github/workflows/ci.yml
Due: none

fix: sync server version to 1.4.0, update README MCP SDK version, stabilize dist
  .pre-commit-config.yaml
  README.md
  dist/embeddings.d.ts
  dist/embeddings.d.ts.map
  dist/embeddings.js
  dist/embeddings.js.map
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/journal.d.ts
  dist/journal.d.ts.map
  dist/journal.js
  dist/journal.js.map
  dist/paths.d.ts
  dist/paths.d.ts.map
  dist/paths.js
  dist/paths.js.map
  dist/remote.d.ts
  dist/remote.d.ts.map
  dist/remote.js
  dist/remote.js.map
  dist/search.d.ts
  dist/search.d.ts.map
  dist/search.js
  dist/search.js.map
  dist/server.d.ts
  dist/server.d.ts.map
  dist/server.js
  dist/server.js.map
  dist/types.d.ts
  dist/types.d.ts.map
  dist/types.js
  dist/types.js.map
  src/server.ts
Due: oxlint, biome-format

chore: bump version to 1.4.1 across plugin.json, package.json, and server.ts
  .claude-plugin/plugin.json
  dist/server.js
  package.json
  src/server.ts
Due: oxlint, biome-format

chore: update package-lock.json version to 1.4.1
  .pre-commit-config.yaml
  package-lock.json
Due: biome-format

fix: move biome to 2.0.6, whose binaries are executable
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: biome-format

test: check the plugin installs and its MCP server starts
  .github/workflows/plugin-install.yml
  package.json
  scripts/check-plugin-install.mjs
Due: biome-format

fix: pin sharp to 0.33 so the server starts without install scripts
  package-lock.json
  package.json
Due: biome-format

ci: give each workflow only the token permissions it uses
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/mcp-probe-tests.yml
  .github/workflows/plugin-install.yml
  .github/workflows/release.yml
Due: none

fix: never let a new journal entry overwrite another
  dist/journal.d.ts
  dist/journal.d.ts.map
  dist/journal.js
  dist/journal.js.map
  src/journal.ts
  tests/journal.test.ts
Due: oxlint, biome-format

chore: bump version to 1.4.2 across plugin.json, package.json, package-lock.json and server.ts
  .claude-plugin/plugin.json
  dist/server.js
  package-lock.json
  package.json
  src/server.ts
Due: oxlint, biome-format

Path conditions:
  oxlint: any of: \.(js|jsx|ts|tsx)$, but not: ^(dist|build|coverage)/
  biome-format: any of: \.(js|jsx|ts|tsx|json)$, but not: ^(dist|build|coverage)/
